[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh-custom/plugins/zsh-pyenv"]
	path = oh-my-zsh-custom/plugins/zsh-pyenv
	url = https://github.com/mattberther/zsh-pyenv
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "oh-my-zsh-custom/themes/spaceship-prompt"]
	path = oh-my-zsh-custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fonts-downloaded/powerline-extra-symbols"]
	path = fonts-downloaded/powerline-extra-symbols
	url = https://github.com/ryanoasis/powerline-extra-symbols.git
[submodule "java-debug"]
	path = java-debug
	url = https://github.com/microsoft/java-debug.git
